
html
  head
    title= title
  body
    h1= message3
    h2= message4
    a(style={width: '300px', color: 'red'})(href='https://wamiz.com/chats') Tu peux encore aller sur un site voir des chats
= '\n'
