html
  head
    title= title
  body
    h1= message
    h2= message2
    a(style={width: '300px', color: 'red'})(href='https://wamiz.com/chats') Tu peux aller sur un site voir des chats
    a(style={color: 'blue'})(href='about')  ou sur une page ABOUT
